<div class="row">
    <!-- <h1>Loading...</h1> -->
</div>
<!-- <ng-template #main_content> -->
<div class="row">
    <div class="col-md-5">
        <div class="card">
            <img [src]="'http://localhost:3000/photo/'+ photo" class="img-fluid">
        </div>
    </div>
    <!-- <div class="col-md-7">
            <div class="card">
                <form class="card-body" (submit)="updatePhoto(title, description)">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Photo's Title" [value]="photo.name" #title>
                    </div>
                    <div class="form-group">
                        <textarea rows="2" class="form-control" placeholder="Photo's Description" [value]="photo.detail" #description></textarea>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Update
                    </button>
                </form>
            </div>
        </div> -->
</div>
<button class="btn btn-danger">
        Delete
    </button>
<!-- </ng-template> -->